
/* Function : Display function app*/

.content-view{
    -fx-pref-width: 1200px;
    -fx-max-width: 3000px;
    -fx-font-family:"Segoe UI" ;
    /* -fx-spacing: 1px;*/


}
.content-header{

    /* -fx-spacing: 50px;*/

}
.content-header .tool-bar{
    -fx-padding: 10px;
    -fx-spacing: 5px;
}

.content-footer{
    -fx-background-color: -color-accent-muted;
    -fx-padding: 10px;
    -fx-spacing: 10px;
}
/* Function : Save or Edit Entity*/
.saving-view{
    -fx-pref-width:400px;
    -fx-font-family:"Segoe UI" ;


}
.saving-header{
    -fx-padding: 10px;
    -fx-background-color:  -color-accent-emphasis;
}
.saving-header .label{
    -fx-font-size: 24px;
    -fx-text-fill: -color-accent-muted;
}
.saving-body{
    -fx-padding: 10px;
    -fx-background-color:-color-accent-subtle ;

}
.saving-body .label{

    -fx-text-fill: -color-accent-fg;
}
.saving-footer{
    -fx-padding: 10px;
    -fx-alignment: center-right;
    -fx-spacing: 5px;
    -fx-background-color:-color-accent-subtle ;

}